/* 
- Find a way to reflect the airpods in the floor 
- Search how to know the langauge of the user an change the text based on it
- Add a fade animation on scroll
*/

/* Colors */

@red-color: #a60f2b;
@violet-color: rgba(20, 7, 38, 0.9);
@bg-color: rgba(20, 7, 38, 0.6);
@light-blue-color: #04c4d9;
@gold-color: #f2b90c;
@orange-color: #f22f1d;
@text-color: #fff;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
}

img {
	max-width: 100%;
}

.flex {
	display: flex;
}

h1,
h2,
h3 {
	font-weight: 500;
}

h1,
h2 {
	font-size: 24px;
}

p,
a {
	font-weight: 100;
}

.text {
	background: @bg-color;
	border-radius: 5px;
}

body {
	width: 100vw;
	height: 100vh;

	color: @text-color;
	font-family: "roboto";

	.container {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}

	main {
		height: 80vh;
		flex-direction: column;
		justify-content: space-between;

		.text {
			margin-top: 20px;
		}

		.headphones-container {
			justify-content: center;
			gap: 40px;
			margin-bottom: 20px;
		}

		.headphone-img {
			width: 75px;
			height: auto;
		}

		button {
			width: 200px;
			margin: 0 auto;
			cursor: pointer;
			background: transparent;
			border: none;
		}
	}
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

footer {
	height: 750px;
	margin-top: 100px;
	flex-direction: column;
	justify-content: space-between;

	.card-container {
		background-color: @violet-color;
		display: grid;
		grid-template-columns: 1fr;
		border-radius: 10px;

		padding: 20px;
		padding-bottom: 50px;
		margin-bottom: 20px;
		gap: 40px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
