/* 
- Find a way to reflect the airpods in the floor 
- Search how to know the langauge of the user an change the text based on it
- Add a fade animation on scroll
*/
/* Colors */
/* Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
}
h1,
h2,
h3 {
  font-weight: 500;
}
h1,
h2 {
  font-size: 24px;
}
p,
a {
  font-weight: 100;
  text-decoration: none;
}
.text {
  background: rgba(20, 7, 38, 0.6);
  border-radius: 5px;
  width: 90%;
  padding: 5px;
  margin: 0 auto;
}
/* mobile */
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: #fff;
  font-family: "roboto";
}
body .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
body main {
  height: 80vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body main .text {
  margin-top: 20px;
}
body main .headphones-container {
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
body main .img-wrapper {
  gap: 40px;
  margin-bottom: 20px;
}
body main .headphone-img {
  width: 75px;
  height: auto;
  transition: transform 500ms;
}
body main .btn {
  margin: 0 auto;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: transform 500ms;
}
body main .btn:hover {
  transform: translateY(-10px);
}
body main .btn img {
  height: 70px;
  width: auto;
}
body main #left-headphone.active {
  transform: translateY(-10px);
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
footer {
  height: 750px;
  margin-top: 100px;
  flex-direction: column;
  justify-content: space-between;
}
.card-container {
  background-color: rgba(20, 7, 38, 0.9);
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  gap: 40px;
}
.card-container .card {
  animation: float 8s ease-in-out infinite;
}
.card-container .card a {
  padding: 5px;
  background: linear-gradient(to right, #64c8c8, #64c8c8), linear-gradient(to right, #ff0000, #ff00b4, #0064c8);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.card-container .card a:hover {
  background-size: 0 3px, 100% 3px;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (min-width: 500px) {
  .headphones-container {
    margin-top: 150px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  footer {
    height: 550px;
    margin-top: 200px;
  }
}
/* smaller notebooks */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .text {
    margin: 0;
    text-align: right;
    background: transparent;
    align-self: end;
  }
  body main .text {
    margin-top: 50px;
  }
  body main .headphones-container {
    flex-direction: row;
    align-items: end;
  }
  body main .headphones-container .btn {
    margin-bottom: 10px;
  }
  body main .headphones-container .left-btn {
    order: -1;
  }
  body main .headphones-container .img-wrapper {
    margin-bottom: 0;
  }
  .card-container {
    background: transparent;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin-bottom: 0;
  }
  .card-container .card {
    background-color: rgba(20, 7, 38, 0.9);
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 10px;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
