@body-color: #242038;
@card-color: #a5f8d3;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: @body-color;
	font-family: Tahoma, sans-serif;
    
    .projects-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        
        .project {
            background-color: @card-color;
            box-shadow: 3px 3px 3px #111;
            display: flex;
            justify-content: center;
            align-items: center;
        
            a {
                padding: 20px 25px;
                color: @body-color;
                text-decoration: none;
                font-size: 1.2em;
                font-weight: 800;
                transition: all 200ms;
            }
            a:focus,
            a:hover {
                transform: scale(1.4);
                outline: 3px solid @card-color;
            }
            
        }
    }
}




@media screen and (min-width: 768px) {
    .projects-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
