@font-face {
	font-family: "Urban Asked";
	src: url("main-media/fonts/urban-asked.woff2") format("woff2");
	src: url("main-media/fonts/urban-asked.ttf") format("truetype");
}

@text-color: #fff;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
a:visited {
	text-decoration: none;
}

img {
	vertical-align: middle;
	max-width: 100%;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-image: url(main-media/images/bgs/body-bg.svg);
	background-position: center;
	font-family: "urban Asked", sans-serif;
	color: @text-color;

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 0 90px 0;
	}
	.projects-container {
		width: 90%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 80px;

		.project {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			max-width: 360px;
			background-position: center;
			background-size: 390px;
			background-repeat: no-repeat;
			margin: auto;
			font-size: 2.8rem;

			width: 100%;

			a {
				text-indent: -9999px;
			}

			.container {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 10px;
				position: relative;
				width: 100%;
				a {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: 10; /* Places the link above everything else in the div */
				}

				img {
					height: 7rem;
				}
			}

			.container.reverse {
				justify-content: flex-start;

				img {
					order: -1;
				}
			}

			.state-container {
				width: 120px;
				height: fit-content;
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				right: 0;
				left: 0;
				bottom: -60px;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: space-around;

				input[type="radio"] {
					appearance: none;
					-webkit-appearance: none;
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
					width: 50px;
					height: 50px;
				}

				.cross-box {
					background-image: url(main-media/icons/cross.svg);

					&:checked {
						background-image: url(main-media/icons//cross-active.svg);
					}
				}

				.exclamation-box {
					background-image: url(main-media/icons/exclamation.svg);

					&:checked {
						background-image: url(main-media/icons//exclamation-active.svg);
					}
				}

				.check-box {
					background-image: url(main-media/icons/check.svg);

					&:checked {
						background-image: url(main-media/icons//check-active.svg);
					}
				}
			}
		}
	}

	#boat {
		background-image: url(main-media/images/bgs/boats-bg.svg);
		span {
			margin-right: 25px;
		}
	}

	#pharmacy {
		background-image: url(main-media/images/bgs/pharmacy-bg.svg);

		.container {
			gap: 0;

			span {
				margin-bottom: 20px;
			}
		}
	}
}

#agency {
	background-image: url(main-media/images/bgs/agency-bg.svg);

	.stupid-p-container {
		.second-p {
			padding-left: 60px;
			line-height: 10px;
		}
	}
}

#bootcamp {
	background-image: url(main-media/images/bgs/boot-bg.svg);
	justify-content: flex-start;

	img {
		height: 6rem;
	}
}

@media screen and (min-width: 768px) {
}
