@font-face {
  font-family: "Urban Asked";
  src: url("main-media/fonts/urban-asked.woff2") format("woff2");
  src: url("main-media/fonts/urban-asked.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:visited {
  text-decoration: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-image: url(main-media/images/bgs/body-bg.svg);
  background-position: center;
  font-family: "urban Asked", sans-serif;
  color: #fff;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 90px 0;
}
body main .projects-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
}
body main .projects-container .project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  max-width: 390px;
  background-position: center;
  background-size: 400px;
  background-repeat: no-repeat;
  margin: auto;
  font-size: 2.8rem;
  width: 100%;
}
body main .projects-container .project:hover + img {
  transform: scale(1.2);
}
body main .projects-container .project a {
  text-indent: -9999px;
}
body main .projects-container .project .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 100%;
}
body main .projects-container .project .container a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  /* Places the link above everything else in the div */
}
body main .projects-container .project .container img {
  height: 7rem;
}
body main .projects-container .project .container.reverse {
  justify-content: flex-start;
}
body main .projects-container .project .container.reverse img {
  order: -1;
}
body main .projects-container .project .state-container {
  width: 120px;
  height: fit-content;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: -60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main .projects-container .project .state-container input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
body main .projects-container .project .state-container .cross-box {
  background-image: url(main-media/icons/cross.svg);
}
body main .projects-container .project .state-container .cross-box:checked {
  background-image: url(main-media/icons//cross-active.svg);
}
body main .projects-container .project .state-container .exclamation-box {
  background-image: url(main-media/icons/exclamation.svg);
}
body main .projects-container .project .state-container .exclamation-box:checked {
  background-image: url(main-media/icons//exclamation-active.svg);
}
body main .projects-container .project .state-container .check-box {
  background-image: url(main-media/icons/check.svg);
}
body main .projects-container .project .state-container .check-box:checked {
  background-image: url(main-media/icons//check-active.svg);
}
body main #boat {
  background-image: url(main-media/images/bgs/boats-bg.svg);
}
body main #boat span {
  margin-right: 40px;
}
body main #pharmacy {
  background-image: url(main-media/images/bgs/pharmacy-bg.svg);
}
body main #pharmacy .container {
  gap: 0;
}
body main #pharmacy .container span {
  margin-bottom: 20px;
}
body #agency {
  background-image: url(main-media/images/bgs/agency-bg.svg);
}
body #agency .stupid-p-container .second-p {
  padding-left: 60px;
  line-height: 10px;
}
body #bootcamp {
  background-image: url(main-media/images/bgs/boot-bg.svg);
  justify-content: flex-start;
}
body #bootcamp span {
  margin-top: 10px;
}
body #bootcamp img {
  height: 6rem;
}
.new {
  margin-top: 10px;
  text-align: center;
  font-size: 48px;
}
@media screen and (min-width: 1024px) {
  body main .projects-container {
    gap: 10px 100px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  body main .projects-container .project {
    max-width: 450px;
    height: 200px;
    background-size: cover;
    justify-content: center;
    font-size: 3rem;
  }
  body main .projects-container .project .container img {
    transform: scale(1.3);
  }
  body main .projects-container .project .state-container {
    margin-right: 0;
    bottom: initial;
    flex-direction: column;
    right: -150px;
  }
  body main .projects-container .project .state-container.reverse {
    margin-left: 0;
    bottom: initial;
    flex-direction: column;
    left: -150px;
  }
  body main .projects-container #boat .container span {
    font-size: 3.5rem;
    margin-right: 80px;
  }
  body main .projects-container #pharmacy .container span {
    margin-left: 40px;
  }
  body main .projects-container #agency .stupid-p-container {
    margin-right: 20px;
  }
  body main .projects-container #bootcamp {
    justify-content: center;
  }
  body main .projects-container #bootcamp span {
    margin-top: 10px;
    margin-left: 40px;
  }
}
