/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: #000000;
}
li {
  list-style: none;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.navbar,
.container {
  width: 95%;
  margin: 0 auto;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
/* __ */
/* Navbar Styles */
.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar ul .nav-item {
  font-size: 1.3rem;
  transition: transform 200ms;
}
.navbar ul .nav-item:hover {
  transform: translateY(-5px);
}
.navbar ul .nav-item:hover a {
  color: red;
}
/* __ */
/* About Styles (Left for the end, as i need an image from Brian) */
#about-boat {
  background-color: #000000;
  color: #fff;
}
/* __ */
/* Product Styles */
.product-container {
  padding: 60px 0;
  text-align: center;
}
.product-container h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}
.product-container p {
  font-size: 1.2rem;
}
/* __ */
/* Info Styles */
.info-section .container {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1000px;
}
.info-section .container .info-text {
  width: 60%;
}
.info-section .container .info-text h2 {
  text-decoration: underline;
  font-size: 2.8rem;
  margin-bottom: 10px;
}
.info-section .container .info-text p {
  font-size: 1.4rem;
}
.info-section .battery-container {
  background-image: url(images/battery-img.webp);
}
.info-section .design-container {
  background-image: url(images/info-red-back.webp);
  background-position: left;
  justify-content: flex-end;
}
.info-section .design-container .info-text {
  text-align: right;
}
.info-section .cushion-container {
  background-image: url(images/purple-img.webp);
}
.info-section .controls-container {
  background-image: url(images/Easy-Tap-img.webp);
  align-items: flex-start;
}
.info-section .controls-container .info-text {
  margin-top: 200px;
}
.info-section .battery-container,
.info-section .cushion-container,
.info-section .controls-container {
  background-position: right;
}
/* __ */
