// General Colors
@yellow-color: #ffda64;
@logo-color: #ed1c24;
@button-color: #ff161f;
@input-color: #232323;
@input-color: #bbb;
@radio-color: #777;
@radio-active: #444;
@radio-hover: #555;
// Light Theme Colors

.lightmode {
	--main-bg-color: #ffffff;
	--secondary-bg-color: #d9d9d9;
	--line-color: #b3b3b3;
	--main-text-color: #ffffff;
	--secondary-text-color: #000000;
}

.darkmode {
	--main-bg-color: #202020;
	--secondary-bg-color: #1a1a1a;
	--main-text-color: #000;
	--secondary-text-color: #fff;
}

/* General Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background-color: var(--main-bg-color);
	color: var(--secondary-text-color);
}

.navbar,
.container {
	width: 90%;
	margin: 0 auto;
}

button,
input {
	all: unset;
}

a,
a:active,
a:visited {
	text-decoration: none;
	color: var(--secondary-text-color);
}

a:hover {
	color: @logo-color;
}

li {
	list-style: none;
}

img {
	vertical-align: middle;
	max-width: 100%;
}

.break-line {
	display: inline;
}

header,
footer {
	background-color: var(--secondary-bg-color);
	position: relative;
}

.white-icon {
	filter: invert(83%) sepia(99%) saturate(0%) hue-rotate(87deg) brightness(102%)
		contrast(101%);
}

/* Navbar Styles */

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;

	.logo {
		height: 40px;
		width: 100px;
	}

	#menu-toggler {
		width: 30px;
		height: 30px;
		background-image: url(icons/light/menu-light.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		z-index: 2;
	}

	#nav-menu {
		display: none;
	}

	#nav-menu.active {
		display: flex;
		flex-direction: column;
		gap: 20px;
		background-color: var(--secondary-bg-color);
		opacity: 0.9;
		padding: 75px 0;
		width: 50%;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;

		.nav-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 1.2rem;
			border-bottom: solid 1px var(--line-color);
			padding: 2px 10px;

			.triangle-icon {
				display: none;
			}

			img {
				height: 1em;
			}
		}
	}

	#theme-toggle {
		background-image: url(icons/light/toggler-light.svg);
		background-size: cover;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	#theme-toggle.dark {
		background-image: url(icons/dark/toggler-dark.svg);
		background-size: cover;
	}
}
/* __ */

/* About Styles */

#about-boat {
	background-image: url(images/general/about-bg-mob.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;

	.boat-img {
		display: none;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		gap: 25px;
		align-items: center;
		text-align: center;
		padding: 35px 0;

		h1 {
			color: @logo-color;
		}

		p {
			font-size: 0.9rem;
		}

		.icons-container {
			width: 100%;
			display: flex;
			color: @yellow-color;
			justify-content: space-around;
			.icon {
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: 3rem;
				text-align: left;

				img {
					height: 1em;
				}

				span {
					display: block;
				}
			}
		}
	}
}

/* __ */

/* presentation Styles */

#product {
	padding: 40px 0 20px 0;
	text-align: center;

	h2 {
		font-size: 1rem;
		margin-bottom: 15px;
	}
}
/* __ */

/* characteristics styles */
.info-section {
	text-align: center;
	margin-bottom: 50px;

	* {
		margin-bottom: 25px;
	}

	h2 {
		text-decoration: underline;
		text-decoration-skip-ink: none;
		text-underline-offset: 4px;
	}

	.image-container {
		display: flex;
		justify-content: center;
		gap: 30px;
		font-size: 3rem;

		img {
			height: 1.5em;
		}
	}
}

/* Table styles */

.table-section {
	display: none;
}

/* __ */

#faq-section {
	max-width: 750px;
	margin: 0 auto;
	margin-bottom: 40px;

	.container {
		background-color: var(--secondary-bg-color);

		.question {
			cursor: pointer;
			border-bottom: 1px solid var(--line-color);
			padding: 15px;
		}

		summary {
			width: 100%;
			padding: 30px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;

			img {
				height: 1.5em;
			}
		}

		summary.active {
			color: @logo-color;
		}

		.quest-icon {
			width: 30px;
			height: 30px;
			margin-left: 20px;
		}

		.answer {
			position: relative;
			padding-bottom: 20px;
			padding-left: 10px;
		}
	}

	li {
		list-style: initial;
	}

	ul {
		padding-left: 20px;
		padding-bottom: 20px;
	}
}

/* __ */

/* Footer Styles */
#footer {
	padding: 30px 0;

	.container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;

		.newsletter-container {
			display: flex;
			flex-direction: column;
			gap: 15px;
			font-size: 1rem;
			justify-content: center;
			align-items: center;

			.footer-logo {
				height: 4em;
				width: fit-content;
			}

			input {
				background-color: @input-color;
				border-radius: 5px;
				padding: 10px 5px;
				font-size: 13px;
				width: 200px;
				color: #000;

				&::placeholder {
					color: #000;
				}

				&:focus {
					outline: 5px auto #000;
				}
			}

			button {
				color: #fff;
				background-color: @button-color;
				padding: 5px;
				width: 100px;
				border-radius: 5px;
				font-size: 1.2rem;
				display: flex;
				align-items: center;
				justify-content: space-around;
				cursor: pointer;
				transition: 0.25s;

				&:hover {
					transform: translateY(-0.15em);
				}

				&:active {
					transform: translateY(0.25em);
				}

				&:focus {
					outline: 5px auto #fff;
				}

				img {
					height: 1.1em;
				}
			}
		}

		.links-container {
			display: flex;
			align-items: center;
			text-align: center;

			input {
				display: none;

				&:checked + label {
					background-color: @radio-active;

					&:before {
						opacity: 1;
					}
				}
			}

			label {
				color: #fff;
				width: 100%;
				padding: 15px 0;
				background-color: @radio-color;
				transition: all 0.2s ease-out;

				&:hover {
					background-color: @radio-hover;
				}
			}

			.shop-label {
				border-radius: 5px 0 0 5px;
				position: relative;

				&::before,
				&::after {
					position: absolute;
					content: "";

					height: 35px;
				}

				&::before {
					right: 0;
					top: 15%;
					border-right: 1px solid #fff;
				}
			}

			.help-label {
				border-radius: 0 5px 5px 0;
				position: relative;

				&::before {
					position: absolute;
					content: "";
					height: 35px;
				}

				&::before {
					left: 0;
					top: 15%;
					border-left: 1px solid #fff;
				}

				&:focus {
					background-color: @radio-active;
				}
			}
		}
		#shop-list,
		#help-list {
			display: none;
		}
	}

	.footer-list {
		margin-top: 20px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
	}
}
/* __ */

/* Desktop Media Queries */

@media screen and (min-width: 1024px) {
	.break-line {
		display: block;
	}

	/* Navbar desk styles */
	.navbar {
		#menu-toggler {
			display: none;
		}

		.logo {
			height: 50px;
			width: initial;
		}

		#nav-menu {
			margin-top: 5px;
			margin-left: auto;
			padding-right: 40px;
			font-size: 1.2rem;
			font-weight: 500;
			display: flex;
			gap: 20px;

			.next-icon {
				display: none;
			}

			.triangle-icon {
				height: 0.8em;
			}
		}
	}
	/* __ */
	/* About desk styles */
	#about-boat {
		background-image: url(images/general/about-bg-desk.svg);
		padding: 40px 0;
		text-align: left;

		.flex-container {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 50px;

			.boat-img {
				height: 300px;
				display: flex;
				margin-left: 25px;
			}

			.text-container {
				align-items: flex-start;
				text-align: left;

				.hero-logo {
					align-self: center;
					height: 70px;
				}

				h1 {
					font-size: 2rem;

					.white-text {
						color: #fff;
					}
				}

				.icon {
					img {
						height: 1.1em;
					}
					p {
						font-size: 1.3rem;
					}
				}
			}
		}
	}
	/* __ */

	/* presentation desk Styles */
	#product {
		padding-top: 70px;

		h2 {
			font-size: 2rem;
		}
	}
	/* __ */

	/* Characteristics desk styles */
	.info-section {
		h2 {
			font-size: 2.5rem;
		}

		img,
		.info-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.container {
			display: grid;
			grid-template-columns: 1.5fr 1fr;

			img,
			.info-text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}

		.battery-container,
		.cushion-container,
		.controls-container {
			.info-text {
				text-align: left;
				order: -1;
			}
		}

		.design-container {
			grid-template-columns: 1fr 1.5fr;
		}

		.controls-container {
			.image-container {
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					height: 2.5em;
				}

				#siri-img {
					height: 1.8em;
				}
			}
		}
	}

	#footer {
		.container {
			grid-template-columns: 1fr 2fr;

			.newsletter-container {
				align-items: flex-start;
			}

			.links-container {
				label {
					max-width: 250px;
				}
			}
		}
	}
	/* __ */
}

@media screen and (min-width: 1440px) {
	/* Table Styles */

	.table-section {
		display: initial;
		font-size: 0.9rem;

		#table-bg {
			background-image: url(images/light/table-bg-light.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-radius: 30px;
			padding: 20px;

			display: flex;
			align-items: center;
			width: 70%;
			min-width: 1400px;

			table {
				background-color: #000;
				width: 50%;
				padding: 10px;

				tbody {
					td {
						padding-bottom: 10px;
					}

					td:first-child {
						color: #fff;
					}

					td:nth-child(2) {
						color: #fff;
						padding-left: 40px;
					}
				}
			}
		}
	}
}
