/*
- Change the color of the lorem inside the hero DONE
- More font size on the boat rockers header on the mobile version DONE
- Add desktop images for the products section DONE
- Make the lines in the FAQ section partial and not full width DONE

- animation for the headers in products
- animate details arrows
- Improve accesibility and SEO
- Make the newsletter functional
 */
.lightmode {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #d9d9d9;
  --line-color: #b3b3b3;
  --main-text-color: #ffffff;
  --secondary-text-color: #000000;
}
.darkmode {
  --main-bg-color: #202020;
  --secondary-bg-color: #1a1a1a;
  --main-text-color: #000;
  --secondary-text-color: #fff;
}
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
  color: var(--secondary-text-color);
}
.navbar,
.container {
  width: 90%;
  margin: 0 auto;
}
button,
input {
  all: unset;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--secondary-text-color);
}
a:hover {
  color: #ed1c24;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.break-line {
  display: inline;
}
header,
footer {
  background-color: var(--secondary-bg-color);
  position: relative;
}
.white-icon {
  filter: invert(83%) sepia(99%) saturate(0%) hue-rotate(87deg) brightness(102%) contrast(101%);
}
picture {
  height: fit-content;
  width: fit-content;
}
/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.navbar .logo {
  height: 40px;
  width: 100px;
}
.navbar #menu-toggler {
  width: 30px;
  height: 30px;
  background-image: url(icons/light/menu-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
}
.navbar #nav-menu {
  display: none;
}
.navbar #nav-menu.active {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--secondary-bg-color);
  opacity: 0.9;
  padding: 75px 0;
  width: 50%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar #nav-menu.active .nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: solid 1px var(--line-color);
  padding: 2px 10px;
}
.navbar #nav-menu.active .nav-item .triangle-icon {
  display: none;
}
.navbar #nav-menu.active .nav-item img {
  height: 1em;
}
.navbar #theme-toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  touch-action: manipulation;
}
/* __ */
/* About Styles */
#about-boat {
  background-image: url(images/general/about-bg-mob.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
#about-boat .boat-img {
  display: none;
}
#about-boat .text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  text-align: center;
  padding: 35px 0;
}
#about-boat .text-container h1 {
  color: #ed1c24;
}
#about-boat .text-container p {
  font-size: 0.9rem;
}
#about-boat .text-container .icons-container {
  width: 100%;
  display: flex;
  color: #ffda64;
  justify-content: space-around;
}
#about-boat .text-container .icons-container .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 3rem;
  text-align: left;
}
#about-boat .text-container .icons-container .icon img {
  height: 1em;
}
#about-boat .text-container .icons-container .icon span {
  display: block;
}
/* __ */
/* presentation Styles */
#product {
  padding: 40px 0 20px 0;
  text-align: center;
}
#product h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}
/* __ */
/* characteristics styles */
.info-section {
  text-align: center;
}
.info-section * {
  margin-bottom: 25px;
}
.info-section h2 {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}
.info-section .image-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 3rem;
}
.info-section .image-container img {
  height: 1.5em;
}
/* __ */
#faq-section {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 40px;
}
#faq-section .container {
  background-color: var(--secondary-bg-color);
}
#faq-section .container .question {
  position: relative;
  cursor: pointer;
  padding: 15px;
}
#faq-section .container .question::before,
#faq-section .container .question::after {
  position: absolute;
  content: "";
  height: 15px;
}
#faq-section .container .question::before {
  width: 90%;
  left: 4%;
  bottom: 0;
  border-bottom: 1px solid var(--line-color);
}
#faq-section .container .last-question::before {
  content: none;
}
#faq-section .container summary {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#faq-section .container summary img {
  height: 1.5em;
}
#faq-section .container .quest-icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
#faq-section .container .answer {
  position: relative;
  padding: 0 20px 20px 20px;
}
#faq-section li {
  list-style: initial;
}
#faq-section ul {
  padding-left: 20px;
  padding-bottom: 20px;
}
/* __ */
/* Footer Styles */
#footer {
  padding: 30px 0;
}
#footer .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
#footer .container .newsletter-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
#footer .container .newsletter-container .footer-logo {
  height: 4em;
  width: fit-content;
}
#footer .container .newsletter-container input {
  background-color: #bbb;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 13px;
  width: 200px;
  color: #000;
}
#footer .container .newsletter-container input::placeholder {
  color: #000;
}
#footer .container .newsletter-container input:focus {
  outline: 5px auto #000;
}
#footer .container .newsletter-container button {
  color: #fff;
  background-color: #ff161f;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: 0.25s;
}
#footer .container .newsletter-container button:hover {
  transform: translateY(-0.15em);
}
#footer .container .newsletter-container button:active {
  transform: translateY(0.25em);
}
#footer .container .newsletter-container button:focus-visible {
  outline: 5px auto #fff;
}
#footer .container .newsletter-container button img {
  height: 1.1em;
}
#footer .container .links-container {
  display: flex;
  align-items: center;
  text-align: center;
}
#footer .container .links-container input {
  display: none;
}
#footer .container .links-container input:checked + label {
  background-color: #444;
}
#footer .container .links-container input:checked + label:before {
  opacity: 1;
}
#footer .container .links-container label {
  color: #fff;
  width: 100%;
  padding: 15px 0;
  background-color: #777;
  transition: all 0.2s ease-out;
}
#footer .container .links-container label:hover {
  background-color: #555;
}
#footer .container .links-container .shop-label {
  border-radius: 5px 0 0 5px;
  position: relative;
}
#footer .container .links-container .shop-label::before,
#footer .container .links-container .shop-label::after {
  position: absolute;
  content: "";
  height: 35px;
}
#footer .container .links-container .shop-label::before {
  right: 0;
  top: 15%;
  border-right: 1px solid #fff;
}
#footer .container .links-container .help-label {
  border-radius: 0 5px 5px 0;
  position: relative;
}
#footer .container .links-container .help-label::before {
  position: absolute;
  content: "";
  height: 35px;
}
#footer .container .links-container .help-label::before {
  left: 0;
  top: 15%;
  border-left: 1px solid #fff;
}
#footer .container .links-container .help-label:focus {
  background-color: #444;
}
#footer .container #shop-list,
#footer .container #help-list {
  display: none;
}
#footer .footer-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
/* __ */
/* Desktop Media Queries */
@media screen and (min-width: 1024px) {
  .break-line {
    display: block;
  }
  /* Navbar desk styles */
  .navbar #menu-toggler {
    display: none;
  }
  .navbar .logo {
    height: 50px;
    width: initial;
  }
  .navbar #nav-menu {
    margin-top: 5px;
    margin-left: auto;
    padding-right: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    gap: 20px;
  }
  .navbar #nav-menu .next-icon {
    display: none;
  }
  .navbar #nav-menu .triangle-icon {
    height: 0.8em;
  }
  /* __ */
  /* About desk styles */
  #about-boat {
    background-image: url(images/general/about-bg-desk.svg);
    padding: 40px 0;
    text-align: left;
  }
  #about-boat .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  #about-boat .flex-container .boat-img {
    height: 300px;
    display: flex;
    margin-left: 25px;
  }
  #about-boat .flex-container .text-container {
    align-items: flex-start;
    text-align: left;
  }
  #about-boat .flex-container .text-container .hero-logo {
    align-self: center;
    height: 70px;
  }
  #about-boat .flex-container .text-container p {
    font-size: 1.2em;
  }
  #about-boat .flex-container .text-container h1 {
    font-size: 2rem;
  }
  #about-boat .flex-container .text-container h1 .white-text {
    color: #fff;
  }
  #about-boat .flex-container .text-container .icon img {
    height: 1.1em;
  }
  #about-boat .flex-container .text-container .icon p {
    font-size: 1.5rem;
  }
  /* __ */
  /* presentation desk Styles */
  #product {
    padding-top: 70px;
  }
  #product h2 {
    font-size: 2rem;
  }
  /* __ */
  /* Characteristics desk styles */
  .info-section picture img {
    max-height: 600px;
  }
  .info-section * {
    margin: 0;
  }
  .info-section .container {
    width: 100%;
    text-align: right;
  }
  .info-section h2 {
    font-size: 2.5rem;
  }
  .info-section img,
  .info-section .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-section .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .info-section .info-text * {
    margin-bottom: 25px;
  }
  .info-section .battery-container,
  .info-section .cushion-container,
  .info-section .controls-container {
    padding-left: 50px;
  }
  .info-section .battery-container .info-text,
  .info-section .cushion-container .info-text,
  .info-section .controls-container .info-text {
    order: -1;
    align-items: flex-start;
    text-align: left;
  }
  .info-section .design-container {
    grid-template-columns: 1fr 1.5fr;
    padding-right: 50px;
  }
  .info-section .cushion-container {
    margin-bottom: 100px;
  }
  .info-section .controls-container {
    margin-top: 100px;
  }
  .info-section .controls-container .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-section .controls-container .image-container img {
    height: 3em;
  }
  .info-section .controls-container .image-container #siri-img {
    height: 2.3em;
  }
  #footer .container {
    grid-template-columns: 1fr 2fr;
  }
  #footer .container .newsletter-container {
    align-items: flex-start;
  }
  #footer .container .links-container label {
    max-width: 250px;
  }
  /* __ */
}
