/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #ffffff;
}
.navbar,
.container {
  width: 90%;
  margin: 0 auto;
}
button,
input {
  all: unset;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #ed1c24;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.break-line {
  display: inline;
}
header,
footer {
  background-color: #d9d9d9;
  position: relative;
}
.red-text {
  color: #ed1c24;
}
/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.navbar .logo {
  height: 30px;
}
.navbar #menu-toggler {
  z-index: 2;
}
.navbar #nav-menu {
  display: none;
}
.navbar #nav-menu.active {
  background-color: #d9d9d9;
  opacity: 0.9;
  padding: 75px 0;
  width: 50%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navbar #nav-menu.active .nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: solid 1px #b3b3b3;
  padding: 2px 10px;
}
.navbar #nav-menu.active .nav-item img {
  height: 1em;
}
.navbar .toggle {
  background-image: url(icons/light/toggler-light.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.navbar .toggle:checked {
  background-image: url(icons/dark/toggler-dark.svg);
  background-size: cover;
}
/* __ */
/* About Styles */
#about-boat {
  background-color: #202020;
  color: #ffffff;
}
#about-boat .text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  text-align: center;
  padding: 35px 0;
}
#about-boat .text-container p {
  font-size: 0.9rem;
}
#about-boat .text-container .icons-container {
  width: 100%;
  display: flex;
  color: #ffda64;
  justify-content: space-around;
}
#about-boat .text-container .icons-container .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  text-align: left;
}
#about-boat .text-container .icons-container .icon img {
  height: 1em;
}
#about-boat .text-container .icons-container .icon span {
  display: block;
}
/* __ */
/* presentation Styles */
#product {
  padding: 30px 0;
  text-align: center;
}
#product h2 {
  font-size: 1rem;
  margin-bottom: 15px;
}
/* __ */
/* characteristics styles */
.info-section {
  text-align: center;
  margin-bottom: 50px;
}
.info-section * {
  margin-bottom: 25px;
}
.info-section h2 {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}
.info-section .image-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 3rem;
}
.info-section .image-container img {
  height: 1.5em;
}
/* __ */
/* Footer Styles */
#footer {
  padding: 25px 0;
}
#footer .newsletter-container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer .newsletter-container * {
  margin-bottom: 12px;
}
#footer .newsletter-container .footer-logo {
  height: 4em;
}
#footer .newsletter-container .email-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
#footer .newsletter-container .email-container input {
  background-color: #bbb;
  color: #232323;
  padding: 10px 40px 10px 5px;
  border-radius: 5px;
}
#footer .newsletter-container .email-container input::placeholder {
  color: #232323;
}
#footer .footer-links {
  display: none;
}
/* __ */
