// General Colors
@yellow-color: #ffda64;
@logo-color: #ed1c24;
@input-color: #232323;
@input-color: #bbb;

// Light Theme Colors

.lightmode {
	--main-bg-color: #ffffff;
	--secondary-bg-color: #d9d9d9;
	--line-color: #b3b3b3;
	--main-text-color: #ffffff;
	--secondary-text-color: #000000;
}

.darkmode {
	--main-bg-color: #202020;
	--secondary-bg-color: #1a1a1a;
	--main-text-color: #000;
	--secondary-text-color: #fff;
}

/* General Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background-color: var(--main-bg-color);
	color: var(--secondary-text-color);
}

.navbar,
.container {
	width: 90%;
	margin: 0 auto;
}

button,
input {
	all: unset;
}

a,
a:active,
a:visited {
	text-decoration: none;
	color: var(--secondary-text-color);
}

a:hover {
	color: @logo-color;
}

li {
	list-style: none;
}

img {
	vertical-align: middle;
	max-width: 100%;
}

.break-line {
	display: inline;
}

header,
footer {
	background-color: var(--secondary-bg-color);
	position: relative;
}

/* Navbar Styles */

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;

	.logo {
		height: 30px;
	}

	#menu-toggler {
		width: 30px;
		height: 30px;
		background-image: url(icons/light/menu-light.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		z-index: 2;
	}

	#menu-toggler.dark {
		background-image: url(icons/dark/menu-dark.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	#nav-menu {
		display: none;
	}

	#nav-menu.active {
		display: flex;
		flex-direction: column;
		gap: 20px;
		background-color: var(--secondary-bg-color);
		opacity: 0.9;
		padding: 75px 0;
		width: 50%;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;

		.nav-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 1.2rem;
			border-bottom: solid 1px var(--line-color);
			padding: 2px 10px;

			.triangle-icon {
				display: none;
			}

			img {
				height: 1em;
			}
		}
	}

	#theme-toggle {
		background-image: url(icons/light/toggler-light.svg);
		background-size: cover;
		width: 30px;
		height: 30px;
	}

	#theme-toggle.dark {
		background-image: url(icons/dark/toggler-dark.svg);
		background-size: cover;
	}
}
/* __ */

/* About Styles */

#about-boat {
	background-image: url(images/general/about-bg-mob.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;

	.boat-img {
		display: none;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		gap: 25px;
		align-items: center;
		text-align: center;
		padding: 35px 0;

		h1 {
			color: @logo-color;
		}

		p {
			font-size: 0.9rem;
		}

		.icons-container {
			width: 100%;
			display: flex;
			color: @yellow-color;
			justify-content: space-around;
			.icon {
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: 3rem;
				text-align: left;

				img {
					height: 1em;
				}

				span {
					display: block;
				}
			}
		}
	}
}

/* __ */

/* presentation Styles */

#product {
	padding: 30px 0;
	text-align: center;

	h2 {
		font-size: 1rem;
		margin-bottom: 15px;
	}
}
/* __ */

/* characteristics styles */
.info-section {
	text-align: center;
	margin-bottom: 50px;

	* {
		margin-bottom: 25px;
	}

	h2 {
		text-decoration: underline;
		text-decoration-skip-ink: none;
		text-underline-offset: 4px;
	}

	.image-container {
		display: flex;
		justify-content: center;
		gap: 30px;
		font-size: 3rem;

		img {
			height: 1.5em;
		}
	}
}

/* __ */

/* Footer Styles */
#footer {
	padding: 25px 0;

	.newsletter-container {
		font-size: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		* {
			margin-bottom: 12px;
		}

		.footer-logo {
			height: 4em;
		}

		.email-container {
			display: flex;
			align-items: center;
			gap: 10px;

			input {
				background-color: @input-color;
				color: #000;
				padding: 10px 40px 10px 5px;
				border-radius: 5px;

				&::placeholder {
					color: #000;
				}
			}

			.email-icon {
				cursor: pointer;
			}
		}
	}

	.footer-links {
		display: none;
	}
}

/* __ */

/* Desktop Media Queries */

@media screen and (min-width: 1024px) {
	.break-line {
		display: block;
	}

	/* Navbar desk styles */
	.navbar {
		#menu-toggler {
			display: none;
		}

		.logo {
			height: 50px;
		}

		#nav-menu {
			margin-top: 5px;
			margin-left: auto;
			padding-right: 40px;
			font-size: 1.2rem;
			font-weight: 500;
			display: flex;
			gap: 20px;

			.next-icon {
				display: none;
			}

			.triangle-icon {
				height: 0.8em;
			}
		}
	}
	/* __ */
	/* About desk styles */
	#about-boat {
		background-image: url(images/general/about-bg-desk.svg);
		padding: 40px 0;
		text-align: left;

		.flex-container {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 50px;

			.boat-img {
				height: 300px;
				display: flex;
				margin-left: 25px;
			}

			.text-container {
				align-items: flex-start;
				text-align: left;

				.hero-logo {
					align-self: center;
					height: 70px;
				}

				h1 {
					font-size: 2rem;

					.white-text {
						color: #fff;
					}
				}

				.icon {
					img {
						height: 1.1em;
					}
					p {
						font-size: 1.3rem;
					}
				}
			}
		}
	}
	/* __ */
}

/*  */
