/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.navbar,
.container {
  width: 90%;
  margin: 0 auto;
}
button {
  all: unset;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #ed1c24;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.break-line {
  display: block;
}
header,
footer {
  background-color: #d9d9d9;
  position: relative;
}
/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.navbar .logo {
  height: 30px;
}
.navbar #menu-toggler {
  z-index: 2;
}
.navbar #nav-menu {
  display: none;
}
.navbar #nav-menu.active {
  background-color: #d9d9d9;
  padding: 75px 0;
  width: 35%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navbar #nav-menu.active .nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: solid 1px #b3b3b3;
  padding: 2px 10px;
}
.navbar #nav-menu.active .nav-item img {
  height: 1em;
}
/* __ */
