@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* BASE STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@dark-color: #111;
@light-color: #fff;
@medium-color: #f9f9f9;
@primary-color: #f60f20;
@secondary-color: #1b206e;

@facebook-color: #1877f2;
@instagram-color: #c32aa3;

html,
body {
  font-family: "Poppins", sans-serif;
  color: @dark-color;
  background-color: @medium-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  overflow-x: hidden;

}

header {
  z-index: 20;
  padding-left: 15px;

  .logo {
    position: relative;
    bottom: 10px;
    width: fit-content;
    font-size: 1.3em;
    cursor: pointer;
  }

  .toggle {
    width: 3.5em;
    height: 3.5em;
    background-color: @primary-color;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 2em;
      height: 1.5em;
    }
  }
}

main {
  margin-top: 40px;
  padding: 0 20px;

  h2 {
    font-size: 1.4em;
    font-weight: 500;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
}

footer {
  display: none;

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .social-bar {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      position: absolute;
      left: 10px;
      transform: scale(0.5);

      *:hover {
        transform: scale(1.2);
      }
    }

    .navigation {
      ul {
        list-style: none;
        text-align: center;

        li {
          font-size: 1.5em;
          font-weight: 300;
          margin: 5px 0;

          a:hover {
            color: @primary-color;
          }
        }
      }
    }
  }
}

footer.active {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: @light-color;
  z-index: 10;
}

a:visited {
  color: @dark-color;
}

/* HOME PAGE */

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;

  .home-text {
    .home-para {
      max-width: 700px;
    }

    .home-btn {
      padding: 10px 25px;
      transition: all 0.5s;
      letter-spacing: 1px;
      font-size: 14px;
      width: fit-content;
      border: none;
      background-color: @primary-color;
      color: @light-color;

      &:hover {
        transform: scale(0.98);
      }

      a {
        color: @light-color;
      }
    }
  }

  .home-img {
    display: none;
  }
}

/* SERVICES PAGE */

.services {
  margin-top: 50px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  .service {
    height: 300px;
    padding: 0 15px;
    text-align: center;
    background-color: @light-color;
    box-shadow: 6px 6px 15px -15px @dark-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .service-icon {
      width: 100px;
      height: 100px;
      transition: all 0.3s;
    }

    .service-title {
      font-size: 1.5em;
      font-weight: 500;
      color: @secondary-color;
    }

    &:hover {
      border: 1px solid @secondary-color;

      .service-icon {
        transform: scale(1.2);
      }
    }
  }
}

/* WORK PAGE */

.work-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin-top: 30px;
  justify-items: center;
}

.work {
  width: 280px;
  height: 280px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .work-img,
  .launch-container {
    width: 100%;
    height: auto;
  }

  .launch-container {
    position: absolute;
    top: 0;
    height: 280px;
    opacity: 0;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.5);


    .launch {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: @medium-color;
      color: @dark-color;
      font-size: 1em;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

/* CONTACT PAGE */

.form-container {
  margin: 50px 0;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    *:not([type=submit]) {
      padding: 10px;
      border: 1px solid #888;
    }

    textarea {
      height: 125px;
      resize: none;
    }

    .btn {
      padding: 10px 0;
      letter-spacing: 2px;
      color: @medium-color;
      background-color: @secondary-color;
      cursor: pointer;
      transition: all 0.5s;


      &:hover {
        transform: scale(0.98);
      }
    }
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  margin-bottom: 100px;

  .contact-info {
    display: flex;
    gap: 30px;
    padding: 10px;

    .contact-icon {
      width: 25px;
      height: 25px;
    }

    h3 {
      color: @secondary-color;
      font-weight: 600;
    }

    a {
      color: @secondary-color;
      text-decoration:underline;
      display: block;
    }

  }
}


@media screen and (min-width: 768px) {
  header,
  .text,
  footer {
    font-size: 20px;
  }

  header,
  main {
    padding: 0 35px;
  }

  footer {
    .menu {
      .social-bar {
        transform: scale(0.8);
      }
    }
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .works {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1068px) {
  header,
  main {
    padding: 0 60px;
  }

  .home-main {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .home-img {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .services {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    .menu {
      .navigation {
        ul {
          li {
            font-size: 2em;
          }
        }
      }
    }
  }

  .works {
    grid-template-columns: repeat(4, 1fr);
  }
}
