@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* BASE STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #111;
  --white-color: #fff;
  --red-color: #f60f20;
  --blue-color: #1b206e;
  --gray-color: #f9f9f9;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

