/* Colors */
/* GENERAL  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  overflow: none;
  display: flex;
  flex-direction: column;
}
body .content {
  width: 90%;
  margin: 0 auto;
  flex: 1 0 auto;
}
.invisible-text {
  visibility: hidden;
}
/* HEADER AND SUBHEADER */
header {
  background-color: #cc0000;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px #888;
}
header .logo {
  max-width: 150px;
  margin-bottom: 10px;
}
header .search {
  width: 250px;
  border: 0;
  padding: 5px;
  border-radius: 3px;
}
header .search:focus {
  outline: 4px solid #7c0000;
}
.subheader {
  background-color: #7c0000;
  color: #fff;
  min-width: 300px;
  margin: 0 10px;
  padding: 10px;
  box-shadow: 3px 3px 10px #888;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subheader .sub-text p {
  margin-bottom: 5px;
}
.subheader img {
  width: 40px;
}
/* _ */
/* GRID */
.grid-container {
  height: fit-content;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.grid-container .item {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.grid-container .item p {
  color: #7c0000;
  font-weight: bold;
  font-size: 14px;
}
.grid-container .item img {
  width: 30px;
  margin-top: 5px;
  align-self: flex-end;
}
/* FOOTER */
footer {
  background-color: #f4f4f4;
  margin: 0 auto;
  padding: 10px 0;
  width: 90%;
  display: flex;
  flex-shrink: 0;
}
footer ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
footer ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 300ms;
}
footer ul li:hover {
  transform: scale(1.2);
}
