/* Colors */
/* GENERAL  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  overflow: none;
}
/* HEADER AND SUBHEADER */
header {
  background-color: #cc0000;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px #888;
}
header .logo {
  max-width: 150px;
  margin-bottom: 10px;
}
header .search {
  width: 250px;
  border: 0;
  padding: 5px;
  border-radius: 3px;
}
header .search:focus {
  outline: 4px solid #7c0000;
}
.subheader {
  background-color: #7c0000;
  color: #fff;
  min-width: 300px;
  margin: 0 10px;
  padding: 10px;
  box-shadow: 3px 3px 10px #888;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subheader .sub-text p {
  margin-bottom: 5px;
}
.subheader img {
  width: 40px;
}
/* _ */
