@light-gray: rgba(232, 232, 228, 0.4);
@timer-color: #fff;

.container-background(@padding-n) {
	padding: @padding-n;
	background: @light-gray;

	border-radius: 10px;
}

input,
button {
	all: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	color: white;
}

html,
body {
	width: 100vw;
	height: 100vh;
}

body {
	background: url(media/alessandro-sacchi-NUFnfYd09iI-unsplash.webp);
	background-position: center;
	background-repeat: no-repeat;

	main {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;

		.time-container {
			.container-background(30px);
		}

		.btns-container {
			width: 100%;
			display: flex;
			justify-content: space-evenly;

			button {
				cursor: pointer;
				width: 30px;
				height: 30px;
				transition: transform 200ms;

				img {
					width: 100%;
					height: 100%;
				}

				&:hover {
					transform: scale(1.3);
				}

				&:active {
					transform: scale(0.98);
				}

				.reset-icon {
					transform: rotateY(180deg);
				}
			}
		}

		#input-container {
			.container-background(20px);

			display: none;
			gap: 25px;

			div {
				display: flex;
				flex-direction: column;

				text-align: center;

				input {
					font-size: 2rem;
				}

				span {
					font-size: 1.3rem;
				}
			}
		}

		#input-container.active {
			display: flex;
		}
	}
}
