input,
button {
  all: unset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: white;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
body {
  background: url(media/alessandro-sacchi-NUFnfYd09iI-unsplash.webp);
  background-position: center;
  background-repeat: no-repeat;
}
body main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body main .time-container {
  padding: 30px;
  background: rgba(232, 232, 228, 0.4);
  border-radius: 10px;
}
body main .btns-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body main .btns-container button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: transform 200ms;
}
body main .btns-container button img {
  width: 100%;
  height: 100%;
}
body main .btns-container button:hover {
  transform: scale(1.3);
}
body main .btns-container button:active {
  transform: scale(0.98);
}
body main .btns-container button .reset-icon {
  transform: rotateY(180deg);
}
body main #input-container {
  padding: 20px;
  background: rgba(232, 232, 228, 0.4);
  border-radius: 10px;
  display: none;
  gap: 25px;
}
body main #input-container div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
body main #input-container div input {
  font-size: 2rem;
}
body main #input-container div span {
  font-size: 1.3rem;
}
body main #input-container.active {
  display: flex;
}
