/* Colors */
.hero {
  padding-bottom: 40px;
}
.hero .grid {
  gap: 20px;
}
.hero .grid h1,
.hero .grid p {
  margin: 10px 0;
}
.tutorials {
  padding-bottom: 40px;
}
.tutorials .flex .card {
  text-align: left;
  font-weight: 300;
  min-width: 100%;
  align-items: flex-start;
}
.tutorials .flex .card strong {
  font-size: 19px;
  margin: 20px 0;
}
.tutorials .flex .nav {
  background-color: #f4f4f4;
  margin: 10px;
  padding: 32px;
}
.tutorials .flex .nav ul {
  width: 100%;
}
.tutorials .flex .nav ul .light-blue {
  color: #047aed;
}
.tutorials .flex .nav ul li {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 17px;
}
.tutorials .flex .intro.flex {
  margin: 10px;
  padding: 20px;
  gap: 20px;
}
.tutorials .flex .intro.flex h2 {
  font-size: 24px;
  font-weight: normal;
}
.tutorials .flex .intro.flex .warning.flex {
  background-color: #5cb85c;
  color: #fff;
  font-weight: 700;
  flex-direction: row;
  padding: 15px;
  text-align: left;
}
.tutorials .flex .intro.flex .warning.flex i {
  padding-right: 10px;
}
.tutorials .flex .intro.flex .tut-install {
  width: 100%;
}
.tutorials .flex .intro.flex .tut-install pre {
  padding: 10px 20px;
  margin: 10px 0;
  color: #fff;
  background-color: #333;
}
