@import "variables.less";

/* Showcase */

.showcase {
	position: relative;
	.flex {
		gap: 30px;

		.showcase-text {
			padding-top: 40px;

			h1 {
				margin: 10px 0;
			}

			p {
				margin: 25px 0;
			}
		}

		.showcase-form {
			min-width: 300px;
			min-height: 300px;
			padding: 42px;
			color: @dark-text-color;
			text-align: left;
			position: relative;
			bottom: -70px;
			z-index: 100;

			h2 {
				font-weight: 300;
				font-size: 24px;
			}

			.form-control {
				margin: 25px 0;

				input {
					all: unset;
					width: 100%;
					border-bottom: 1px solid #ccc;
					padding: 3px;
				}
			}
		}
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 100px;
		bottom: -70px;
		right: 0;
		left: 0;
		background-color: @white;
		transform: skewY(-3deg);
	}
}

/* Stats */

.stats-section {
	.container {
		margin-top: 100px;

		.stats {
			margin: 50px;
			gap: 25px;

			.stat {
				font-weight: bold;

				i {
					width: 48px;
					height: 48px;
				}
				.principal-text {
					font-size: 35px;
				}

				.secondary-text {
					color: @secondary-color;
					font-size: 20px;
				}
			}
		}
	}
	.installation {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 20px;
		width: 95%;
		margin: 0 auto;
		.card {
			width: 100%;
			text-align: left;
			font-size: 19px;
		}
	}
}

.hosting {
	margin-top: 50px;
	padding: 40px 0;

	.flex {
		gap: 25px;
	}

	.hosting-text {
		h2 {
			font-weight: 300;
			font-size: 48px;
		}

		p {
			font-size: 20px;
		}
	}
}
