@import "variables.less";

/* Showcase */

.showcase {
	position: relative;
	.grid {
		gap: 30px;

		.showcase-text {
			h1 {
				margin: 10px 0;
			}

			p {
				margin: 25px 0;
			}
		}

		.showcase-form {
			min-width: 300px;
			min-height: 350px;
			padding: 42px;
			color: @dark-text-color;
			text-align: left;
			position: relative;
			bottom: -70px;
			z-index: 100;

			h2 {
				font-weight: 300;
				font-size: 24px;
			}

			.form-control {
				margin: 25px 0;

				input {
					all: unset;
					width: 100%;
					border-bottom: 1px solid #ccc;
					padding: 3px;
				}
			}
		}
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 100px;
		bottom: -70px;
		right: 0;
		left: 0;
		background-color: @white;
		transform: skewY(-3deg);
	}
}

/* Stats */

.stats-section {
	.container {
		margin-top: 100px;

		.stats {
			margin: 50px;
			gap: 25px;

			h2 {
				font-weight: 700;
			}

			.stat {
				font-weight: bold;

				i {
					width: 48px;
					height: 48px;
				}
				.principal-text {
					font-size: 35px;
				}

				.secondary-text {
					color: @secondary-color;
					font-size: 20px;
				}
			}
		}
	}
	.installation {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 25px;
		margin: 0 auto;
		.card {
			width: 95%;
			text-align: left;
			font-size: 19px;
			padding: 25px;
		}
	}
}

.hosting {
	margin-top: 50px;
	padding: 40px 0;

	.container {
		gap: 20px;
	}

	.hosting-text {
		gap: 15px;
		h2 {
			font-weight: 300;
			font-size: 48px;
		}

		p {
			font-size: 20px;
		}
	}
}

/* Languages */

.languages {
	padding-top: 30px;
	h2 {
		font-size: 32px;
	}

	.flex {
		margin: 0 auto;
		margin-top: 30px;
		font-size: 20px;
		flex-direction: row;
		justify-content: center;

		width: fit-content;
		flex-wrap: wrap;

		.card {
			padding: 20px;
			margin: 18px 10px 40px 10px;

			p {
				margin-bottom: 10px;
			}
		}
	}
}

@media screen and (min-width: 500px) {
	/* Hero */
	.showcase {
		padding: 20px 0;
		.container {
			grid-template-columns: 55% auto;

			.showcase-form {
				min-width: 400px;
			}
		}
	}
}

@media screen and (min-width: 769px) {
	.stats-section {
		.container {
			h2 {
				max-width: 500px;
				margin: auto;
			}

			.stats {
				flex-direction: row;
				justify-content: space-around;
			}
		}

		.installation.grid {
			grid-template-columns: 65% auto;

			.cards {
				display: flex;

				gap: 40px;
			}
		}
	}

	.hosting .container {
		grid-template-columns:55% auto;

	}
}
/* @media screen and (min-width:768px) {
	
} */
