/* Colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #fff;
}
.logo,
h1 {
  font-weight: 300;
  line-height: normal;
}
.logo {
  font-size: 32px;
}
h1 {
  font-size: 40px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
h2 {
  font-size: 1.2rem;
  line-height: normal;
}
.navbar,
.hero,
.primary-bg {
  background-color: #047aed;
  color: #fff;
}
section {
  padding-top: 32px;
}
.hero .container.grid {
  justify-items: center;
}
.hero .container.grid img {
  width: 200px;
  height: 200px;
}
.container {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 1100px;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: fit-content;
}
.flex {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
}
.flex,
.container,
.installation-info {
  text-align: center;
  align-items: center;
}
.btn {
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 300;
}
.btn:hover {
  transform: scale(0.97);
}
.btn-outline {
  border: 1px solid #f4f4f4;
  color: #fff;
}
.btn-primary {
  color: #fff;
  background-color: #047aed;
}
.btn-primary:hover {
  font-weight: 700;
}
.btn-dark {
  background-color: #002240;
  color: #fff;
}
.header-large {
  font-size: 64px;
}
.md-text {
  font-size: 20px;
}
/* Navbar Styles */
.navbar a,
footer a {
  color: #fff;
}
.navbar {
  padding-top: 8px;
  text-align: center;
}
.navbar .logo {
  font-size: 32px;
}
.navbar ul.flex {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  max-width: 250px;
  margin: 0 auto;
  margin-top: 15px;
}
.navbar ul.flex li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul.flex li a {
  margin: 0 5px;
  padding: 10px;
}
.navbar ul.flex li a:hover {
  box-shadow: inset 0 -2px 0 0 #f4f4f4;
}
/* Footer */
footer {
  background-color: #002240;
  color: #fff;
  padding: 64px 0;
}
footer .flex {
  gap: 25px;
  align-items: flex-start;
  text-align: left;
}
footer .flex .logo {
  margin: 10px 0;
}
footer .flex .socials {
  flex-direction: row;
}
footer .flex .socials .github-icon:hover {
  color: #24292e;
}
footer .flex .socials .facebook-icon:hover {
  color: #4267b2;
}
footer .flex .socials .instagram-icon:hover {
  color: #c13584;
}
footer .flex .socials .twitter-icon:hover {
  color: #1da1f2;
}
@media screen and (min-width: 500px) {
  .navbar {
    padding: 15px 0;
  }
  .navbar .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar nav {
    display: flex;
    align-items: center;
  }
  .navbar ul.flex {
    margin: 0;
    background-color: transparent;
  }
}
@media screen and (min-width: 769px) {
  footer .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .hero .container {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .hero .container .text {
    justify-self: start;
  }
  .hero .container img {
    justify-self: end;
  }
}
